In [1]:
import pandas as pd

In [30]:
#reading the csv files
direct = pd.read_csv('./csv/Direct_routes.csv')
airlines = pd.read_csv('./csv/Airlines_IATA_code.csv')

In [31]:
#changing columns name
airlines.rename(columns={'IATA Code' : 'Carrier'}, inplace=True)

In [68]:
#extracting data using a for loop
carrier = []
for a in direct['Carrier']:
    if a not in carrier:
        carrier.append(a)
    else:
        pass

In [69]:
carrier

['CM',
 'UA',
 'AF',
 'KL',
 'TK',
 'DL',
 'KE',
 'AV',
 'P5',
 'WW',
 'AD',
 'G3',
 'ES',
 'QL',
 'KX',
 'EK',
 'IB',
 'UX',
 'BR',
 'OZ',
 'BA',
 'LY',
 'QR',
 'AA',
 'S6',
 'T9',
 'AC']

In [86]:
airline = {}
for a, b in airlines.itertuples(index=False):
    airline[a] = b

In [87]:
airlines_i = {}
for a, b in airline.items():
    for c in carrier:
        if c == b:
            airlines_i[a] = c

In [140]:
len(carrier)
#comparing the number of elements

27

In [139]:
len(airlines_i)
#airlines_i is missing one value

26

In [121]:
for a in carrier:
    if a not in airlines_i.values():
        print(a)
#WW is the missin value. WW is the iata of Venezolana

WW

In [137]:
value = 'Venezolana'
mask = airlines['Name'].str.contains(value)
airlines[mask]
#dataset has an error, no WW but AW for venezolana 
#accordin to iata website venezolana iata is WW

           Name Carrier
124  Venezolana      AW

In [141]:
#correcting data
airlines_i['Venezolana'] = 'WW'

In [145]:
#creating data frame and checking values
iata_airlines = pd.DataFrame(airlines_i, columns=['Name', 'Carrier'])

In [148]:
iata_airlines['Name'] = airlines_i.keys()

In [150]:
iata_airlines['Carrier'] = airlines_i.values()

In [155]:
#merging data frames in one
df = iata_airlines.merge(direct, how='right', on='Carrier' )

In [165]:
df.fillna('', inplace=True)

In [166]:
df

                Name Carrier    Route Departure Arrival Code
0      Copa Airlines      CM  ADZ-PTY       ADZ     PTY
1    United Airlines      UA  ADZ-PTY       ADZ     PTY    C
2         Air France      AF  AMS-PTY       AMS     PTY    C
3      Copa Airlines      CM  AMS-PTY       AMS     PTY    C
4                KLM      KL  AMS-PTY       AMS     PTY
..               ...     ...      ...       ...     ...  ...
452           Iberia      IB  XPL-PTY       XPL     PTY    C
453              KLM      KL  XPL-PTY       XPL     PTY    C
454    Copa Airlines      CM  YUL-PTY       YUL     PTY
455       Air Canada      AC  YYZ-PTY       YYZ     PTY
456    Copa Airlines      CM  YYZ-PTY       YYZ     PTY

[457 rows x 6 columns]

In [167]:
not_direct = pd.read_csv('./csv/Not_direct_routes.csv')

In [171]:
df_2 = iata_airlines.merge(not_direct, on='Carrier', how='right')

In [173]:
iata_airlines.to_csv('./csv/Airlines_IATA_code.csv')

In [175]:
df.to_csv('./csv/direct_routes_C.csv', index=False)
df_2.to_csv('./csv/not_direct_routes_C.csv', index=False)